<H1>Admin login</H1>

<form method="get" action="/adminLogin">
    <input type="text" class="form" name="username" placeholder="username">
    <input type ="text" class="form" name="phone" placeholder="phone number">
    <input type="text" class="form" name="password" placeholder="password">
    <input type="submit" value="Login">
</form>