<h1>Agents can login here</h1>

<form method="POST" action="/agentLogin">
    <input type="text" class="form" name="username" placeholder="username">
    <input type="text" class="form" name="password" placeholder="password">
    <input type="submit" value="Login">
</form>