<hi>INSURANCE MANAGEMENT</hi>

<p>this is the front page where clients and agents can login</p>


<form method="POST" action="/login">
    <input type="text" placeholder="Enter Name" name="name" class="form">
    <input type="text" placeholder="Enter id" name="userid" class="form">
    <button>login</button>
</form>

<form method="GET" action="/register">
    <button>REGISTER</button>
</form>

<form method="GET" action="/agent_login">
    <button>LOGIN AS AN AGENT</button>
</form>

<form method="GET" action="/admin_login">
    <button>Admin Login</button>
</form>