<h1>HEre you can sign up </h1>

<form method="POST" action="/signup">
    <input type="text" id="firstname" name="name_field" placeholder="Enter name" >
    <input type="text" placeholder="phone number" name="contact" class="form">
    <input type="text" placeholder="City" name="address" class="form">
    <input type="text" placeholder="email" name="email" class="form">
    <input type="submit" value="ok">
        <!-- <button>Regiter</button> -->
</form>